body {
    font-family:'Gilroy-Medium';
}
h2, h3 {
    font-family: 'Gilroy-Bold';
}
li {
    list-style-type: none;
}
.header {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Gilroy-Bold';
}
.header__list {
    display: flex;
    gap: 170px;
    margin-left: -40px;
    margin-bottom: 30px ;
}
.content-text {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}
.name {
    display: flex;
    gap: 350px;
    margin-left: -40px;
}
.name__element1 {
    font-size: 35px;
    font-weight: 900;
}
.name__element2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -45px;
}
.name__element3 {
    margin-top: auto;
    margin-bottom: auto;
    transform: rotate(-90deg);
}
.about-me {
    text-align: center;
    background-color: #F6F6F6;
    padding: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about__list {
    margin-bottom: 50px;
}
.skills {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
}
.skills__list {
    display: flex;
    gap: 120px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.skill__text1 {
    margin-top: 25px;
    text-align: center;
}
.skill__stars {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
.skill__icons {
    margin-left: 25px;
}
.Portfolio {
    background-color: #F6F6F6;
}
.wrapper {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    line-height: 100px;
}
.text_portfolio {
    border-bottom: 1px solid black;

}
.Contacts {
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.icons__list {
    display: flex;
    gap: 60px;
    margin-left: 260px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.send {
    background-color: black;
    color: aliceblue;
    border-radius: 40px;
    width: 120px;
    height: 35px;
    margin-top: 40px;
    margin-bottom: 70px;
    
}
.list__element {
    color: #828282;
}
.list__element1 {
    color: black;
    font-weight: 900;
}
.like, .libd {
    color: #828282;
    font-size: 14px;
}